extends info

block details
    form(action='/usr/' + customer.Username + '/addresses/add', method='POST')
        label(for='fullName') Tên đầy đủ
        input(type='text', id='fullName', name='fullName', placeholder='Full name')
        br
        label(for='address') Địa chỉ
        input(type='text', id='address', name='streetAddress', placeholder='Street Address')
        br
        label(for='postcode') Mã bưu điện
        input(type='text', id='postcode', name='postcode', placeholder='Post Code')
        br
        label(for='city') Thành phố
        input(type='text', id='city', name='city', placeholder='City')
        br
        label(for='country') Quốc gia
        input(type='text', id='country', name='country', placeholder='Country')
        br
        label(for='phone') SĐT
        input(type='tel', id='phone', name='phone', placeholder='Phone')
        br
        button.btn.btn-default(type='submit')
            | Add